---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";

console.log(Astro,'31231231')
---

<Layout title="Welcome to Astro."> 
<Container>
<div class="text-primary">31231</div>  
</Container>  
</Layout>
